<div id="createGroup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Vytvoření skupiny</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <div class="alert alert-dark" id="createGroup-alert" role="alert" style="display: none;">
      </div>
      <div class="form-group">
          <label for="email">Zkratka:</label>
          <input type="email" class="form-control" id="group-shortcut-input">
      </div>
      <div class="form-group">
          <label>Ročník:</label>
          <input type="input" class="form-control" id="group-grade-input">
      </div>
        <div class="form-group">
          <label>Semestr:</label>
          <input type="input" class="form-control" id="group-semester-input">
      </div>
         <div class="form-group">
          <label>Počet studentů:</label>
          <input type="input" class="form-control" id="group-studentCount-input">
      </div>
      <div class="form-group">
          <label for="role">Forma studia:</label>
          <select class="form-control" id="group-studyForm-input">
            <option id="P" selected>P</option>
            <option id="K">K</option>
          </select>
      </div>
       <div class="form-group">
          <label for="role">Typ studia:</label>
          <select class="form-control" id="group-studyType-input">
            <option id="bc" selected>Bc.</option>
            <option id="mgr">Mgr.</option>
            <option id="phd">PhD.</option>
          </select>
      </div>
        <div class="form-group">
          <label>Jazyk:</label>
          <select class="form-control" id="group-language-input">
            <option id="cz" selected>cz</option>
          </select>
      </div>
      <button type="submit" id="btn-createGroup" class="btn btn-dark pull-right">Vytvořit</button>
      <button type="button" class="btn btn-dark pull-right" data-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>