<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Přihlášení</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <div class="alert alert-dark" id="login-alert" role="alert" style="display: none;">
      </div>
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email-login-input">
      </div>
      <div class="form-group">
          <label for="pwd">Heslo:</label>
          <input type="password" class="form-control" id="pwd-login-input">
      </div>
      <button type="submit" id="btn-login" class="btn btn-dark pull-right">Přihlásit</button>
      <button type="button" class="btn btn-dark pull-right" data-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>