<!doctype html>
<html>
    <head>
        {% include "header.html.twig" %}
    </head>

    <body>
        {% include "navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %} 

        <div class="container">

            <br>
            <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">Úvod</h5>
                <p class="card-text"></p>
                <a href="index.php/article/1" class="btn btn-dark">Start</a>
            </div>
            <div class="card-footer text-muted">
            </div>
            </div>
        
        </div>


        {% include "Footer.html.twig" %}
    </body>
</html>

