<!doctype html>
<html>
    <head>
        {% include "header.html.twig" %}
    </head>

    <body>
        {% include "navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %} 
        {% include "createSubject.html.twig" %} 

        <div class="container">
        <br>
        <h2>Předměty</h2>
        <a class="btn btn-dark pull-right" href="javascript:void(0);" data-toggle="modal" id="btn-createSubject" data-target="#createSubject">
        <i class="fas fa-plus-circle"></i> Vytvořit předmět</a>
        <br>
        <br>
            
            <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
                
            </div>
            <div class="card-footer text-muted">
            </div>
            </div>
        
        </div>


        {% include "Footer.html.twig" %}
    </body>
</html>

